<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!-- call LIFF SDK Which is an executable file of LIFF app -->
    <script src="../js/sdk.js"></script>

    <script>


        $(document).ready(async (e) => {
            liff.init(function (data) {
                var userIdfield = data.context.userId;
            });
            var userData = { userId: userIdfield }
            $.ajax({
                url: '/liff/gethistory/',
                type: 'POST',
                dataType: 'json',
                success: function (data) {
                    window.location.assign('/liff/history/' + userData.userId)
                },
                data: userData
            });

        });


    </script>
</head>

<body>
</body>

</html>