* {
  box-sizing: border-box;
}

body {
  text-align: center;
  line-height: 1.8;
  color: #f5f6f7;
  font-family: "Montserrat", sans-serif;
}
.first-container {
  font-size: 20px ;
  font: bold;
  background-color: #1abc9c; /* Green */
  padding: 30px;
  text-align: center;
}
.margin {margin-bottom: 45px;}

/* Container for flexboxes */
section {
  display: -webkit-flex;
  display: flex;
}


/* Style the content */
.article {
  font-size: 20px;
  background-color: #595c63; /* Dark Blue */
  color: #ffffff;
  -webkit-flex: 3;
  -ms-flex: 3;
  flex: 3;
  padding: 10px;
}


.table {
  border-collapse: collapse;
  width: 100%;
  font-size: 16px;
}

.table td, .table th {
  border: 1px solid #ddd;
  padding-top: 12px;
  padding-bottom: 12px;
  color: white;
}