<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Theme Made By www.w3schools.com - No Copyright -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../css/history.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="../js/sdk.js"></script>
    <script>
        $(document).ready(async (e) => {
            liff.init(function (data) {
                console.log("hi")

                var userIdfield = data.context.userId;
                $('#data').load('/liff/gethistory', { userId: userIdfield })
                getProfile();
            });
        });

        function getProfile() {
            console.log('get profile')
            liff.getProfile().then(function (profile) {
                document.getElementById('displayName').textContent = profile.displayName;
                const profilePictureDiv = document.getElementById('profilepicturediv');
                if (profilePictureDiv.firstElementChild) {
                    profilePictureDiv.removeChild(profilePictureDiv.firstElementChild);
                }
                const img = document.createElement('img');
                img.src = profile.pictureUrl;
                img.alt = "Profile Picture";
                profilePictureDiv.appendChild(img);

            }).catch(function (error) {
                window.alert("Error getting profile: " + error);
            });

        }</script>
</head>
<script>

</script>

<body>

    <!-- First Container -->
    <div class="first-container">
        <h1 class="margin" id="displayName"></h1>
        <div id="profilepicturediv">
        </div>
        <!-- <p id="data"></p> -->
    </div>

    <!--  Second Container -->
    <div class="article">
        <h2 class="margin">History</h2>
        <div style="overflow-x:auto;">
            <table class="table" id="data">

            </table>
        </div>
    </div>

</body>

</html>