<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../css/history.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script src="../js/sdk.js"></script>
    <!-- call LIFF SDK Which is an executable file of LIFF app -->

    <script>
        $(document).ready(async (e) => {
            liff.init(function (data) {
                var userIdfield = data.context.userId;
                $('#data').load('/liff/gethistory', { userId: userIdfield }) // fecth data to shown on history page
                getProfile();
            });
        });

        function getProfile() {
            liff.getProfile().then(function (profile) {
                document.getElementById('displayName').textContent = profile.displayName;
                const profilePictureDiv = document.getElementById('profilepicturediv');
                if (profilePictureDiv.firstElementChild) {
                    profilePictureDiv.removeChild(profilePictureDiv.firstElementChild);
                }
                const img = document.createElement('img');
                img.src = profile.pictureUrl;
                img.alt = "Profile Picture";
                profilePictureDiv.appendChild(img);

            }).catch(function (error) {
                window.alert("Error getting profile: " + error);
            });

        }
    </script>
</head>

<body>

    <div class="container">
        <div class="row" id="header">
            <div class="col-sm" id="profilepicturediv"></div>
            <div class="col-sm" style="margin:0 auto;">
                <h1 id="displayName">name</h1>
            </div>
        </div>
        <!--  Second Container -->
        <div class="table-responsive">
            <table class="table" id="data">
            </table>
        </div>
    </div>
</body>

</html>