<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../css/history.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="../js/sdk.js"></script>
    <script>
        $(document).ready(async (e) => {
            liff.init(function (data) {
                var userIdfield = data.context.userId;
                $('#data').load('/liff/gethistory', { userId: userIdfield })
                getProfile();
            });
        });

        function getProfile() {
            liff.getProfile().then(function (profile) {
                document.getElementById('displayName').textContent = profile.displayName;
                const profilePictureDiv = document.getElementById('profilepicturediv');
                if (profilePictureDiv.firstElementChild) {
                    profilePictureDiv.removeChild(profilePictureDiv.firstElementChild);
                }
                const img = document.createElement('img');
                img.src = profile.pictureUrl;
                img.alt = "Profile Picture";
                profilePictureDiv.appendChild(img);

            }).catch(function (error) {
                window.alert("Error getting profile: " + error);
            });

        }</script>
</head>
<script>

</script>

<body>
    <div class="limiter">
        <!-- First Container -->
        <div class="first-container">
            <h1 class="margin" id="displayName">name</h1>
            <div id="profilepicturediv">
            </div>
        </div>

        <!--  Second Container -->
        <div class="article">
            <h2 class="margin">History</h2>
            <div style="overflow-x:auto;">
                <table class="table" id="data">
                    <thead>
                        <tr>
                            <th>Position</th>
                            <th>Start date</th>
                            <th>Last Activity</th>
                            <th>Contacts</th>
                            <th>Age</th>
                            <th>Address</th>
                            <th>Card No</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>CMO</td>
                            <td>16 Nov 2012</td>
                            <td>16 Nov 2017</td>
                            <td>brandon94@example.com</td>
                            <td>30</td>
                            <td>New York City, NY</td>
                            <td>424242xxxxxx6262</td>
                        </tr>
                    </tbody>

                </table>
            </div>
        </div>
    </div>
</body>

</html>