<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LIFF Starter</title>
    <link rel="stylesheet" href="/index.css">
</head>

<body>
    <iframe name="hiddenFrame" class="hide"></iframe>
    <form method="post" id="form" target="hiddenFrame" action="/submit">

        <input type="text" id="userId" name="userId" hidden>
        <input type="text" id="displayName" name="displayName" hidden>
        <br>
        First name:<br>
        <input type="text" id="firstName" name="firstName" required>
        <br>
        Last name:<br>
        <input type="text" id="lastName" name="lastname" required>
        <br>
        Nickname : <br>
        <input type="text" id="nickName" name="nickName" required>
        <br><br>
        <input onclick="myFunction()" type="submit" />

    </form>

    <h2>Profile</h2>
    <table border="1">
        <tr>
            <th>Firstname</th>
            <td id="sh_first"></td>
        </tr>
        <tr>
            <th>Lastname</th>
            <td id="sh_last"></td>
        </tr>
        <tr>
            <th>Nickname</th>
            <td id="sh_nick"></td>
        </tr>
    </table>
    </div>


    <script src="https://d.line-scdn.net/liff/1.0/sdk.js"></script>
    <script src="index.js"></script>

</body>

</html>