/*//////////////////////////////////////////////////////////////////
[ FONT ]*/

@font-face {
    font-family: Poppins-Regular;
    src: url('../fonts/poppins/Poppins-Regular.ttf');
}

@font-face {
    font-family: Poppins-Medium;
    src: url('../fonts/poppins/Poppins-Medium.ttf');
}

@font-face {
    font-family: Poppins-Bold;
    src: url('../fonts/poppins/Poppins-Bold.ttf');
}

@font-face {
    font-family: Poppins-SemiBold;
    src: url('../fonts/poppins/Poppins-SemiBold.ttf');
}

* {
    margin: 0 auto;
    padding: 0px;
    box-sizing: border-box;
}

body, html {
    background-color: #fff;
    height: 100%;
}

h1 {
    margin-left: 15px;
    margin-top: 50px;
    margin-bottom: 50px;
    font-family: Poppins-Bold;
    color: #000046;
    line-height: 100%;
    font-size: 30px;
}

/*//////////////////////////////////////////////////////////////////
[ Table ]*/

.firstdata {
    text-align: center;
    border-collapse: separate;
    border-spacing: 0;
    min-width: 350px;
}

.firstdata tr th, .firstdata tr td:first-child {
    border-left: 1px solid#337ab7;
}

.firstdata tr th, .firstdata tr td:last-child {
    border-right: 1px solid#337ab7;
}

.firstdata tr td {
    text-align: center;
    padding: 5px;
    background: #fff;
    border-bottom: 1px solid #337ab7;
    color: #1CB5E0;
    font-family: Poppins-Regular;
    font-size: 10px;
}

.firstdata tr th {
    text-align: center;
    padding: 5px;
    background: #337ab7;
    color: #fff;
    font-family: Poppins-Bold;
}

/* top-left border-radius */

.firstdata tr:first-child th:first-child {
    border-top-left-radius: 6px;
}

/* top-right border-radius */

.firstdata tr:first-child th:last-child {
    border-top-right-radius: 6px;
}

/* bottom-left border-radius */

.firstdata tr:last-child td:first-child {
    border-bottom-left-radius: 6px;
}

/* bottom-right border-radius */

.firstdata tr:last-child td:last-child {
    border-bottom-right-radius: 6px;
}

img {
    width: 70%;
    height: auto;
    border-radius: 50%;
}