
/*//////////////////////////////////////////////////////////////////
[ FONT ]*/

@font-face {
  font-family: Poppins-Regular;
  src: url('../fonts/poppins/Poppins-Regular.ttf'); 
}

@font-face {
  font-family: Poppins-Medium;
  src: url('../fonts/poppins/Poppins-Medium.ttf'); 
}

@font-face {
  font-family: Poppins-Bold;
  src: url('../fonts/poppins/Poppins-Bold.ttf'); 
}

@font-face {
  font-family: Poppins-SemiBold;
  src: url('../fonts/poppins/Poppins-SemiBold.ttf'); 
}

/*//////////////////////////////////////////////////////////////////
[ Table ]*/


* {
  margin: 0px; 
  padding: 0px; 
  box-sizing: border-box;
}

body, html {
  text-align: center;
  color: #ffffff;
  background: #fa71cd;
  background: -webkit-linear-gradient(bottom, #c471f5, #fa71cd);
  background: -o-linear-gradient(bottom, #c471f5, #fa71cd);
  background: -moz-linear-gradient(bottom, #c471f5, #fa71cd);
  background: linear-gradient(bottom, #c471f5, #fa71cd);
  height: 100%;
  font-family: Poppins-Regular, sans-serif;
}

.first-container {
  font-size: 20px ;
  font: bold;
  padding: 30px;
  text-align: center;
}
.margin {margin-bottom: 45px;}

/* Container for flexboxes */
section {
  display: -webkit-flex;
  display: flex;
}


/* Style the content */
.article {
  font-size: 20px;
  -webkit-flex: 3;
  -ms-flex: 3;
  flex: 3;
  padding: 10px;
}


.table {
  background-color: #ffffff;
  border-collapse: collapse;
  width: 100%;
  font-size: 16px;
  padding-top: 12px;
  padding-bottom: 12px;
  color: #000000;
}
tr:hover {background-color:#f5f5f5;}
.table td, .table th {
  padding-top: 12px;
  padding-bottom: 12px;
}
#profilepicturediv {
  text-align: center;
}

img {
  border-radius: 50%;
  width: 30% ;
  height: 30% ; 
}